@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

.profile-send {
    background-color: #F2F2F2;

    &__content {
        padding: 28px 19px 34px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &__input {
        width: 100%;
        padding: 5px 5px 45px;
        border: 1px solid #000000;
        border-radius: 1px;
        outline: none;
        margin-bottom: 23px;
    }

    &__button {
        font-family: 'PT Sans', sans-serif;
        background: #FDD639;
        border-radius: 23px;
        outline: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        padding: 13px 48px 11px 43px;
        max-width: 281px;
        width: 100%;
        border: none;
        cursor: pointer;
    }
}